h1{
    width:500px ;
    margin:auto ;
    font-size: 50px;
    justify-content: center;
    background-color: orange;
    align-items: center;
}

.table{
    width:500px ;
    margin:auto ;
    font-size: 50px;
    justify-content: center;
    background-color: orange;
    align-items: center;
}